<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>DailyReportSystem</title>
        <link rel="stylesheet" th:href="@{/css/employee/detail.css}">
    </head>
         <body>
            <div id="header">
                <h1>日報管理システム</h1>
            </div>
            <h2>従業員情報 詳細ページ</h2>
             <form method="post" th:action="@{/employee/detail}">
                    <table>
                        <tr>
                            <th>社員番号</th>
                            <th>氏名</th>
                            <th>権限</th>
                            <th>登録日時</th>
                            <th>更新日時</th>
                         </tr>

                         <tr>
                            <td th:text="${emp.authentication.code}"></td>
                            <td th:text="${emp.name}"></td>
                            <td th:text="${emp.authentication.role}"></td>
                            <td th:text="${emp.created_at}"></td>
                            <td th:text="${emp.updated_at}"></td>
                         </tr>
                    </table>
               </form>
                <a th:href="@{/employee/update/{aid}/(aid=${emp.id})}">この従業員情報を編集する</a>
                <a th:href="@{/employee/list}">一覧に戻る</a>
           </body>
</html>