<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DailyReportSystem</title>
    <link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>
<body>
    <h1>日報管理システムへようこそ</h1>
    <h2>日報登録</h2>
    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
        <label for="name">名前</label>
        <input type="text" th:field="*{name}" th:errorclass="err">
         <span th:errors="*{name}" class="err"></span>
        <br>
        <br>
        <input type="hidden" th:field="*{created_at}">

        <input type="hidden" th:field="*{updated_at}">

        <input type="submit" value="登録実行">
        <a th:href="@{/employee/list}">登録せずに一覧に戻る</a>
    </form>
</body>
</html>