<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DailyReportSystem</title>
    <link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>
<body>
    <h1>従業員　新規登録ページ</h1>
    <form method="post" th:action="@{/employee/register}">
        <label for="authentication.employee_id">社員番号</label>
        <input type="text" th:field="authentication.employee_id" th:errorclass="err">
         <span th:errors="authentication.employee_id" class="err"></span>
        <br>

        <label for="employee.name">氏名</label>
        <input type="text" th:field="employee.name" th:errorclass="err">
         <span th:errors="employee.name" class="err"></span>
        <br>

        <label for="authentication.password">パスワード</label>
        <input type="text" th:field="authentication.password" th:errorclass="err">
         <span th:errors="authentication.password" class="err"></span>
        <br>

        <label for="role">権限</label>
        <select th:field="authentication.role" th:errorclass="err">
            <option value="" th:text="選択してください" th:selected="${authentication.role == ''}">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}"
                    th:value="${item}" th:text="${item}" th:selected="authentication.role == ${item}">
        </select>
        <span th:errors="authentication.role" class="err"></span>
        <br>

        <input type="submit" value="投稿">
        <a th:href="@{/employee/list}">一覧に戻る</a>
    </form>
</body>
</html>