<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DailyReportSystem</title>
    <link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>
<body>
    <h1>日報管理システム</h1>
    <h2>日報更新</h2>
   <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
        <label for="id">ID</label>
        <input type="hidden" id="id" name="id" th:value="*{id}" th:text="*{id}">
        <br>
        <label for="name">名前</label>
        <input type="text" th:field="*{name}">

        <br>
        <input type="submit" value="更新実行">
        <a th:href="@{/employee/list}">更新せずに一覧に戻る</a>
    </form>
</body>
</html>